<html>
    <head>
        <title>Gephi-Splunk Permissions Server</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <div class="header">
            <a href="/"><h1 id="logo">Permissions Server</h1></a>
            <a href="/permissions"><h3 class="option">Permissions</h3></a>
            <a href="/admin"><h3 class="option">Administration</h3></a>
            <a href="/script"><h3 class="option">Script</h3></a>
        </div>
        <div class="main_body">
            <h1>Select a script to run (Testing purposes)</h1>
            <div class="script_inner">
                <ul>
                    <li><a href="/script/ipusers/py">Script 1</a></li>
                    <li><a href="/script/q1/sh">Script 2</a></li>
                    <li><a href="/script/q1/sh">Script 3</a></li>
                </ul>
            </div>
        </div>
        <div class="footer">
        </div>
    <body>
</html>